---
layout: default
meta_title: Home
meta_description: 11ty-starter-template is a JAMStack Static Site Generator template built with Eleventy and TailwindCSS
body_class: home
title: Welcome to 11ty-starter-template!
hidden: true
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            <p>Random technical notes built with <a href="https://www.11ty.dev/docs/">Eleventy</a> and <a href="https://tailwindcss.com">TailwindCSS</a>.</p>

            <h2 class="text-3xl">Features</h2>

            <ul class="mb-12 list-disc pl-4">
                <li>Build sites faster with the power of Eleventy, TailwindCSS and SCSS</li>
                <li><a href="https://laravel-mix.com/docs/5.0/basic-example">Laravel Mix</a> (webpack) to watch, concatenate and compile styles and scripts</li>
                <li><a href="https://www.purgecss.com/">Purgecss</a> to remove any unused CSS</li>
                <li>HTML minifier</li>
                <li>SEO friendly pages (including Open Graph and Twitter meta)</li>
                <li>Image lazyloading</li>
                <li>A simple blog with tags and featured images</li>
                <li>common-tags is used for shortcodes</li>
                <li>date-fns is used for date operations.</li>
                <li>404 page will display for browser-sync.</li>
                <li>Plugin for Code Syntax Highlight and RSS</li>
                <li>Author Info Card</li>
                <li>Supports both blog created and updated date</b></li>
                <li><b>Paginated Blog Page with responsive grid layout</b></li>
                <li>Support markdown/blockquote with information box</li>
                <li>Default config is used in tailwind.config.js</li>
                <li><b>Search feature</b> using elasticlunr</li>
                <li>eleventy-plugin-inclusive-language plugin for linting the avoidable words in post</li>
            </ul>

            <h2 class="text-3xl">Want to give it a spin?</h2>

            <p>Check out the <a href="https://github.com/sharmasourabh/11ty-starter-template">full documentation</a> on how to get started.</p>

        </div>

    </section>

</main>
